extends _layout.pug

//- 以下の -var title = 'Hello Pug 'で_layout.pugの内容を置き換えている
block locals
 -var title = 'Hello Pug '

block content
  h1 Hello World!
  img(src="../images/icon.png")
  img(src="../images/thumbnail.jpg")
